@import './normalize.scss';

$primary-color: #e7ba2f;
$white: #fff;
$black: #000;
$light-grey: #efefef;
$neutral-grey: #333;
$dark-grey: #666;
$mid-grey: #999;

@font-face {
  font-family: Japanese;
  src: url('../fonts/yugothil.ttf');
}

body {
	font-size: 16px;
	font-family: "Japanese", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title-website {
	font-size: 60px;
	text-align: center;
	margin: 30px 0;

	a {
		color: $black;
		text-decoration: none;
	}
}

.container {
	width: 1080px;
	margin: auto;
}

.layout-sidebar {
	display: flex;
	margin: 40px auto 20px;

	.main-content {
		width: 100%;
	}

	.sidebar {
		width: 340px;
	}
}

.section__header {
	border-top: 5px solid $primary-color;
}

.section__slider {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.slider {
		width: 1400px;
		height: 420px;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.bg--cat {
		background-image: url('../img/cat.jpg');
	}

	.bg--mountain {
		background-image: url('../img/mountain.jpg');
	}

	.bg--beach {
		background-image: url('../img/beach.jpg');
	}

	.title-slider {
		font-size: 60px;
	}

	.arrow-button {
		border: 0;
		background: none;
		cursor: pointer;
	}

	.slider-content-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.slider-content {
		text-align: center;
		color: $white;
		font-weight: bold;
	}

	.dots-container {
		position: absolute;
		bottom: 0px;
		margin-bottom: 15px;
	}

	.button-dot {
		border: 0;
		background: none;
		height: 16px;
		width: 16px;
    background-color: $white;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;

    &.active {
    	background-color: $primary-color;
    }
	}
}

.sidebar {
	.sidebar-container {
		background-color: $light-grey;
		display: flex;
		flex-direction: column;
		padding: 20px;
		align-items: stretch;
	}

	.banner-1 {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		height: 300px;
		width: 300px;
		color: $black;
		text-decoration: none;
	}

	.dummy-banner-container {
		&>a {
			margin: 15px auto;
		}

		&>:last-child {
			margin: 15px auto 0;
		}
	}

	.dummy-banner {
		width: 300px;
		height: 100px;
		background-color: $dark-grey;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
		text-decoration: none;
	}

	.title-recommended {
			text-align: center;
			border-bottom: 2px solid $black;
		}

	.recommended {
		display: flex;
		margin-bottom: 20px;
		color: $black;
		text-decoration: none;

		&:hover .title {
			color: $primary-color;
		}

		.article-img {
			width: 115px;
			height: 65px;
			margin-right: 10px;
		}

		.title {
	    word-break: break-all;
	    font-weight: bold;
	    font-size: 13px;
	    margin: 0 auto 10px;
	    transition: ease-in-out .1s color;
		}

		.date {
			color: $mid-grey;
			font-size: 12px;
			margin: 0;
		}
	}
}

.main-content {
	padding-right: 15px;

	.posts-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.posts {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.post {
		display: flex;
		margin-bottom: 40px;
		color: $black;
		margin-right: 20px;
		text-decoration: none;

		&:hover .post-title {
			color: $primary-color;
		}

		.post-content {
			padding: 0 10px;
		}

		.post-date {
			color: $dark-grey;
			font-size: 13px;
			margin: 0 auto 10px;
		}

		.post-title {
			margin: 0 auto 10px;
			font-size: 18px;
			transition: ease-in-out .1s color;
		}

		.post-text {
			margin: 0 auto 10px;
			font-size: 13px;
		}
	}

	.show-more {
		background-color: $neutral-grey;
		border: 0;
		color: $white;
		font-size: 20px;
		padding: 10px;
		cursor: pointer;
		width: 400px;
		align-self: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.button-arrow {
			position: absolute;
			right: 10px;
		}
	}
}

.footer {
	background-color: $black;
	color: $white;

	.footer-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer-links {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;

		a {
			transition: ease-in-out .1s color;
			color: $white;
			margin-right: 20px;
			text-decoration: none;

			&:hover {
				color: $primary-color;
			}
		}
	}
}

.go-to-top-container {
	display: flex;
	justify-content: flex-end;

	.go-to-top {
		background: none;
		border: 0;
		width: 40px;
		height: 40px;
		display: block;
		cursor: pointer;
	}
}

