@import './normalize.scss';

$primary-color: #e7ba2f;
$white: #fff;
$light-grey: #efefef;
$dark-grey: #666;
$mid-grey: #999;

.title-website {
	font-size: 60px;
	text-align: center;
	margin: 30px 0;
}

.container {
	width: 1080px;
	margin: auto;
}

.layout-sidebar {
	display: flex;
	margin-top: 40px;

	.main-content {
		width: 100%;
	}

	.sidebar {
		width: 340px;
	}
}

.section__header {
	border-top: 5px solid $primary-color;
}

.section__slider {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.slider {
		width: 1400px;
		height: 420px;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.bg--cat {
		background-image: url('../img/cat.jpg');
	}

	.bg--mountain {
		background-image: url('../img/mountain.jpg');
	}

	.bg--beach {
		background-image: url('../img/beach.jpg');
	}

	.title-slider {
		font-size: 60px;
	}

	.arrow-button {
		border: 0;
		background: none;
	}

	.slider-content-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.slider-content {
		text-align: center;
		color: $white;
		font-weight: bold;
	}

	.dots-container {
		position: absolute;
		bottom: 0px;
		margin-bottom: 15px;
	}

	.button-dot {
		border: 0;
		background: none;
		height: 16px;
		width: 16px;
    background-color: $white;
    border-radius: 50%;
    margin: 5px;

    &.active {
    	background-color: $primary-color;
    }
	}
}

.sidebar {
	.sidebar-container {
		background-color: $light-grey;
		display: flex;
		flex-direction: column;
		padding: 20px;
		align-items: stretch;
	}

	.banner-1 {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		height: 300px;
		width: 300px;
	}

	.dummy-banner-container {
		&>div {
			margin: 15px auto;
		}

		&>:last-child {
			margin: 15px auto 0;
		}
	}

	.dummy-banner {
		width: 300px;
		height: 100px;
		background-color: $dark-grey;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
	}

	.recommended {
		display: flex;
		margin-bottom: 20px;

		.article-img {
			width: 115px;
			height: 65px;
			margin-right: 10px;
		}

		.title {
	    word-break: break-all;
	    font-weight: bold;
	    font-size: 13px;
	    margin: 0 auto 10px;
		}

		.date {
			color: $mid-grey;
			font-size: 12px;
			margin: 0;
		}
	}
}